default/CSV-JSON-write-to-FS.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1753582503820,
    "description" : "",
    "identifier" : "CSV-JSON-write-to-FS",
    "lastModifiedTimestamp" : 1753582503820,
    "name" : "CSV-JSON write to FS",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "id" : "e239c0f2-6166-3599-9cd7-db1e1670a159",
        "name" : "Input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8cad79c0-0fa9-368c-894d-e909513fbe1d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "id" : "a793dd0b-9829-3e54-926e-11b42836e895",
        "name" : "Output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 3
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "CSV-JSON write to FS",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "246ee9f5-0198-1000-6769-64d7856f0c48",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "60bf8b2b-cf10-3764-be9e-18c17974af84",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "00226a6f-0420-34c4-aa33-c12266dfb83b",
          "name" : "ExtractText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "00226a6f-0420-34c4-aa33-c12266dfb83b",
          "name" : "ExtractText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "592d758f-fb82-3257-9b74-838f6db28328",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "5d3bd329-67f6-3997-acf5-a444df63dcd5",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "5d3bd329-67f6-3997-acf5-a444df63dcd5",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "902b34e8-5828-3311-835e-33c5db7b0f29",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "f040e387-2827-309b-9e16-a19c9dad8097",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "a793dd0b-9829-3e54-926e-11b42836e895",
          "name" : "Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "da500e0f-cab7-3636-b894-6a4886551a17",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "246ee9f5-0198-1000-6769-64d7856f0c48",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "22706d69-4a18-3212-aaa2-3e2bcff6b01e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "5132b8be-ed63-31a5-b7ed-7db52f35e2d8",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "5643d406-0c07-37a9-ae16-cff742fd177d",
          "id" : "00226a6f-0420-34c4-aa33-c12266dfb83b",
          "name" : "ExtractText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "CSV to JSON ",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "a793dd0b-9829-3e54-926e-11b42836e895",
        "name" : "Output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 2720.0,
          "y" : 232.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 2608.0,
        "y" : -240.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "bec46113-0869-3f56-b9d6-557ef3b1c3af",
        "maxBackoffPeriod" : "10 mins",
        "name" : "RouteOnAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1640.0,
          "y" : 88.0
        },
        "properties" : {
          "route3" : "test",
          "route2" : "test",
          "Routing Strategy" : "Route to Property name",
          "route1" : "test"
        },
        "propertyDescriptors" : {
          "route3" : {
            "displayName" : "route3",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "route3",
            "sensitive" : false
          },
          "route2" : {
            "displayName" : "route2",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "route2",
            "sensitive" : false
          },
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "route1" : {
            "displayName" : "route1",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "route1",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "5d3bd329-67f6-3997-acf5-a444df63dcd5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2720.0,
          "y" : -128.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "a, b, c",
          "Evaluation Mode" : "Entire text",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "22706d69-4a18-3212-aaa2-3e2bcff6b01e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2024.0,
          "y" : 216.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "00226a6f-0420-34c4-aa33-c12266dfb83b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExtractText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2024.0,
          "y" : 8.0
        },
        "properties" : {
          "Enable Unicode Predefined Character Classes" : "false",
          "Permit Whitespace and Comments in Pattern" : "false",
          "Enable Unicode-aware Case Folding" : "false",
          "Enable named group support" : "false",
          "csv" : "(.+),(.+),(.+),(.+)",
          "Enable DOTALL Mode" : "false",
          "Enable Unix Lines Mode" : "false",
          "Maximum Buffer Size" : "1 MB",
          "Enable Canonical Equivalence" : "false",
          "Enable Case-insensitive Matching" : "false",
          "Enable Multiline Mode" : "false",
          "Enable repeating capture group" : "false",
          "Maximum Capture Group Length" : "1024",
          "Enable Literal Parsing of the Pattern" : "false",
          "Character Set" : "UTF-8",
          "Include Capture Group 0" : "true"
        },
        "propertyDescriptors" : {
          "Enable Unicode Predefined Character Classes" : {
            "displayName" : "Enable Unicode Predefined Character Classes",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode Predefined Character Classes",
            "sensitive" : false
          },
          "Permit Whitespace and Comments in Pattern" : {
            "displayName" : "Permit Whitespace and Comments in Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permit Whitespace and Comments in Pattern",
            "sensitive" : false
          },
          "Enable Unicode-aware Case Folding" : {
            "displayName" : "Enable Unicode-aware Case Folding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unicode-aware Case Folding",
            "sensitive" : false
          },
          "Enable named group support" : {
            "displayName" : "Enable named group support",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable named group support",
            "sensitive" : false
          },
          "csv" : {
            "displayName" : "csv",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "csv",
            "sensitive" : false
          },
          "Enable DOTALL Mode" : {
            "displayName" : "Enable DOTALL Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable DOTALL Mode",
            "sensitive" : false
          },
          "Enable Unix Lines Mode" : {
            "displayName" : "Enable Unix Lines Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Unix Lines Mode",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Enable Canonical Equivalence" : {
            "displayName" : "Enable Canonical Equivalence",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Canonical Equivalence",
            "sensitive" : false
          },
          "Enable Case-insensitive Matching" : {
            "displayName" : "Enable Case-insensitive Matching",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Case-insensitive Matching",
            "sensitive" : false
          },
          "Enable Multiline Mode" : {
            "displayName" : "Enable Multiline Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Multiline Mode",
            "sensitive" : false
          },
          "Enable repeating capture group" : {
            "displayName" : "Enable repeating capture group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable repeating capture group",
            "sensitive" : false
          },
          "Maximum Capture Group Length" : {
            "displayName" : "Maximum Capture Group Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Capture Group Length",
            "sensitive" : false
          },
          "Enable Literal Parsing of the Pattern" : {
            "displayName" : "Enable Literal Parsing of the Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Enable Literal Parsing of the Pattern",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include Capture Group 0" : {
            "displayName" : "Include Capture Group 0",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Capture Group 0",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExtractText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "246ee9f5-0198-1000-6769-64d7856f0c48",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2720.0,
          "y" : 8.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "{\n\t\"field1\": \"${csv.1}\",\n\t\"field2\": \"${csv.2}\",\n\t\"field3\": \"${csv.3}\",\n\t\"field4\": \"${csv.4}\",\n\t\"field5\": \"${uuid}\",\n\t\"field6\": \"${filename}\"\n}",
          "Evaluation Mode" : "Entire text",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "5643d406-0c07-37a9-ae16-cff742fd177d",
        "identifier" : "f040e387-2827-309b-9e16-a19c9dad8097",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2024.0,
          "y" : -128.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "1B",
          "Batch Size" : "1",
          "Unique FlowFiles" : "true",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "5 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "349a7ac5-a906-3ee9-b22f-88c53727eed7",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "a3133789-0987-306a-805c-6dbd872f2044",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "306e71a7-9824-3c67-a609-3d457759ea10",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "306e71a7-9824-3c67-a609-3d457759ea10",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "af1df33b-1182-30dd-bc79-9dcf7040932f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "e239c0f2-6166-3599-9cd7-db1e1670a159",
          "name" : "Input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 9
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "1688dc01-536e-37a6-a37e-65310ce805da",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "827628a7-9023-3b64-82ef-77e0d32e2eb6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bc66752e-b296-302e-ba29-7286aab074ad",
          "id" : "349a7ac5-a906-3ee9-b22f-88c53727eed7",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "e239c0f2-6166-3599-9cd7-db1e1670a159",
        "name" : "Input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 2656.0,
          "y" : 168.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Write JSON to File System",
      "outputPorts" : [ ],
      "position" : {
        "x" : 2608.0,
        "y" : 72.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "349a7ac5-a906-3ee9-b22f-88c53727eed7",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2656.0,
          "y" : 248.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "/Users/naveenkeerthi/tools/output",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "1688dc01-536e-37a6-a37e-65310ce805da",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2024.0,
          "y" : 296.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bc66752e-b296-302e-ba29-7286aab074ad",
        "identifier" : "306e71a7-9824-3c67-a609-3d457759ea10",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2024.0,
          "y" : 152.0
        },
        "properties" : {
          "filename" : "${filename}-${now():toNumber():format('dd-MM-yy')}.json",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "af647301-9143-4c3a-8153-a6faf9dfe612",
    "flowIdentifier" : "CSV-JSON-write-to-FS",
    "timestamp" : 0
  }
}